{{project_guid}}.Debug|Win32.ActiveCfg = Debug|Win32
{{project_guid}}.Debug|Win32.Build.0 = Debug|Win32
{{project_guid}}.Debug|x64.ActiveCfg = Debug|x64
{{project_guid}}.Debug|x64.Build.0 = Debug|x64
{{project_guid}}.Release|Win32.ActiveCfg = Release|Win32
{{project_guid}}.Release|Win32.Build.0 = Release|Win32
{{project_guid}}.Release|x64.ActiveCfg = Release|x64
{{project_guid}}.Release|x64.Build.0 = Release|x64
