<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup Label="ProjectConfigurations">
    <ProjectConfiguration Include="Debug|Win32">
      <Configuration>Debug</Configuration>
      <Platform>Win32</Platform>
    </ProjectConfiguration>
    <ProjectConfiguration Include="Debug|x64">
      <Configuration>Debug</Configuration>
      <Platform>x64</Platform>
    </ProjectConfiguration>
    <ProjectConfiguration Include="Release|Win32">
      <Configuration>Release</Configuration>
      <Platform>Win32</Platform>
    </ProjectConfiguration>
    <ProjectConfiguration Include="Release|x64">
      <Configuration>Release</Configuration>
      <Platform>x64</Platform>
    </ProjectConfiguration>
  </ItemGroup>
  <PropertyGroup Label="Globals">
    <ProjectGuid>{{windows_project_guid}}</ProjectGuid> <!-- {4C1C3931-C231-4BA6-802C-15C5901A5A54} -->
    <Keyword>Win32Proj</Keyword>
    <RootNamespace>{{windows_root_namespace}}</RootNamespace> <!-- ProjectNameHere -->
  </PropertyGroup>
  <Import Project="$(VCTargetsPath)\Microsoft.Cpp.Default.props" />
  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|Win32'" Label="Configuration">
    <ConfigurationType>{{windows_configuration_type}}</ConfigurationType>
    <UseDebugLibraries>true</UseDebugLibraries>
    <PlatformToolset>v110</PlatformToolset>
    <CharacterSet>Unicode</CharacterSet>
  </PropertyGroup>
  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|x64'" Label="Configuration">
    <ConfigurationType>{{windows_configuration_type}}</ConfigurationType>
    <UseDebugLibraries>true</UseDebugLibraries>
    <PlatformToolset>v110</PlatformToolset>
    <CharacterSet>Unicode</CharacterSet>
  </PropertyGroup>
  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Release|Win32'" Label="Configuration">
    <ConfigurationType>{{windows_configuration_type}}</ConfigurationType>
    <UseDebugLibraries>false</UseDebugLibraries>
    <PlatformToolset>v110</PlatformToolset>
    <WholeProgramOptimization>true</WholeProgramOptimization>
    <CharacterSet>Unicode</CharacterSet>
  </PropertyGroup>
  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Release|x64'" Label="Configuration">
    <ConfigurationType>{{windows_configuration_type}}</ConfigurationType>
    <UseDebugLibraries>false</UseDebugLibraries>
    <PlatformToolset>v110</PlatformToolset>
    <WholeProgramOptimization>true</WholeProgramOptimization>
    <CharacterSet>Unicode</CharacterSet>
  </PropertyGroup>
  <Import Project="$(VCTargetsPath)\Microsoft.Cpp.props" />
  <ImportGroup Label="ExtensionSettings">
  </ImportGroup>
  <ImportGroup Label="PropertySheets" Condition="'$(Configuration)|$(Platform)'=='Debug|Win32'">
    <Import Project="$(UserRootDir)\Microsoft.Cpp.$(Platform).user.props" Condition="exists('$(UserRootDir)\Microsoft.Cpp.$(Platform).user.props')" Label="LocalAppDataPlatform" />
  </ImportGroup>
  <ImportGroup Condition="'$(Configuration)|$(Platform)'=='Debug|x64'" Label="PropertySheets">
    <Import Project="$(UserRootDir)\Microsoft.Cpp.$(Platform).user.props" Condition="exists('$(UserRootDir)\Microsoft.Cpp.$(Platform).user.props')" Label="LocalAppDataPlatform" />
  </ImportGroup>
  <ImportGroup Label="PropertySheets" Condition="'$(Configuration)|$(Platform)'=='Release|Win32'">
    <Import Project="$(UserRootDir)\Microsoft.Cpp.$(Platform).user.props" Condition="exists('$(UserRootDir)\Microsoft.Cpp.$(Platform).user.props')" Label="LocalAppDataPlatform" />
  </ImportGroup>
  <ImportGroup Condition="'$(Configuration)|$(Platform)'=='Release|x64'" Label="PropertySheets">
    <Import Project="$(UserRootDir)\Microsoft.Cpp.$(Platform).user.props" Condition="exists('$(UserRootDir)\Microsoft.Cpp.$(Platform).user.props')" Label="LocalAppDataPlatform" />
  </ImportGroup>
  <PropertyGroup Label="UserMacros" />
  <!-- Incremental Link capability, set up only for DynamicLibrary 
       and Application configuration_types.
       
       Static configuration_type does not have this block. -->
  {{#windows_incremental_link}}
  {{>IncrementalLink}}
  {{/windows_incremental_link}}
  <ItemDefinitionGroup Condition="'$(Configuration)|$(Platform)'=='Debug|Win32'">
    <ClCompile>
      <AdditionalIncludeDirectories>{{include_dirs}};{{include_dirs_shared}};{{include_dirs_static}};{{include_dirs_debug}};{{include_dirs_32bit}};%(AdditionalIncludeDirectories)</AdditionalIncludeDirectories>
      <PrecompiledHeader>{{#use_precompiled_header}}Use{{/use_precompiled_header}}</PrecompiledHeader>
      <WarningLevel>Level3</WarningLevel>
      <Optimization>Disabled</Optimization>
      <PreprocessorDefinitions>WIN32;_DEBUG;{{preprocessor_defs}};{{preprocessor_defs_shared}};{{preprocessor_defs_static}};{{preprocessor_defs_debug}};{{preprocessor_defs_release}};{{preprocessor_defs_32bit}};{{preprocessor_defs_64bit}};%(PreprocessorDefinitions)</PreprocessorDefinitions>
      <SDLCheck>true</SDLCheck>
    </ClCompile>
    <Link>
      <SubSystem>{{windows_link_subsystem}}</SubSystem>
      <GenerateDebugInformation>true</GenerateDebugInformation>
    </Link>
  </ItemDefinitionGroup>
  <ItemDefinitionGroup Condition="'$(Configuration)|$(Platform)'=='Debug|x64'">
    <ClCompile>
      <AdditionalIncludeDirectories>{{include_dirs}};{{include_dirs_shared}};{{include_dirs_static}};{{include_dirs_debug}};{{include_dirs_64bit}};%(AdditionalIncludeDirectories)</AdditionalIncludeDirectories>
      <PrecompiledHeader>{{#use_precompiled_header}}Use{{/use_precompiled_header}}</PrecompiledHeader>
      <WarningLevel>Level3</WarningLevel>
      <Optimization>Disabled</Optimization>
      <PreprocessorDefinitions>WIN32;_DEBUG;{{preprocessor_defs}};{{preprocessor_defs_shared}};{{preprocessor_defs_static}};{{preprocessor_defs_debug}};{{preprocessor_defs_release}};{{preprocessor_defs_32bit}};{{preprocessor_defs_64bit}};%(PreprocessorDefinitions)</PreprocessorDefinitions>
      <SDLCheck>true</SDLCheck>
    </ClCompile>
    <Link>
      <SubSystem>{{windows_link_subsystem}}</SubSystem>
      <GenerateDebugInformation>true</GenerateDebugInformation>
    </Link>
  </ItemDefinitionGroup>
  <ItemDefinitionGroup Condition="'$(Configuration)|$(Platform)'=='Release|Win32'">
    <ClCompile>
      <AdditionalIncludeDirectories>{{include_dirs}};{{include_dirs_shared}};{{include_dirs_static}};{{include_dirs_release}};{{include_dirs_32bit}};%(AdditionalIncludeDirectories)</AdditionalIncludeDirectories>
      <PrecompiledHeader>{{#use_precompiled_header}}Use{{/use_precompiled_header}}</PrecompiledHeader>
      <WarningLevel>Level3</WarningLevel>
      <Optimization>MaxSpeed</Optimization>
      <FunctionLevelLinking>true</FunctionLevelLinking>
      <IntrinsicFunctions>true</IntrinsicFunctions>
      <PreprocessorDefinitions>WIN32;NDEBUG;{{preprocessor_defs}};{{preprocessor_defs_shared}};{{preprocessor_defs_static}};{{preprocessor_defs_debug}};{{preprocessor_defs_release}};{{preprocessor_defs_32bit}};{{preprocessor_defs_64bit}};%(PreprocessorDefinitions)</PreprocessorDefinitions>
      <SDLCheck>true</SDLCheck>
    </ClCompile>
    <Link>
      <SubSystem>{{windows_link_subsystem}}</SubSystem>
      <GenerateDebugInformation>true</GenerateDebugInformation>
      <EnableCOMDATFolding>true</EnableCOMDATFolding>
      <OptimizeReferences>true</OptimizeReferences>
    </Link>
  </ItemDefinitionGroup>
  <ItemDefinitionGroup Condition="'$(Configuration)|$(Platform)'=='Release|x64'">
    <ClCompile>
      <AdditionalIncludeDirectories>{{include_dirs}};{{include_dirs_shared}};{{include_dirs_static}};{{include_dirs_release}};{{include_dirs_64bit}};%(AdditionalIncludeDirectories)</AdditionalIncludeDirectories>
      <PrecompiledHeader>{{#use_precompiled_header}}Use{{/use_precompiled_header}}</PrecompiledHeader>
      <WarningLevel>Level3</WarningLevel>
      <Optimization>MaxSpeed</Optimization>
      <FunctionLevelLinking>true</FunctionLevelLinking>
      <IntrinsicFunctions>true</IntrinsicFunctions>
      <PreprocessorDefinitions>WIN32;NDEBUG;{{preprocessor_defs}};{{preprocessor_defs_shared}};{{preprocessor_defs_static}};{{preprocessor_defs_debug}};{{preprocessor_defs_release}};{{preprocessor_defs_32bit}};{{preprocessor_defs_64bit}};%(PreprocessorDefinitions)</PreprocessorDefinitions>
      <SDLCheck>true</SDLCheck>
    </ClCompile>
    <Link>
      <SubSystem>{{windows_link_subsystem}}</SubSystem>
      <GenerateDebugInformation>true</GenerateDebugInformation>
      <EnableCOMDATFolding>true</EnableCOMDATFolding>
      <OptimizeReferences>true</OptimizeReferences>
    </Link>
  </ItemDefinitionGroup>
  <ItemGroup>
    {{#text_files}}
    {{>Text}}
    {{/text_files}}
  </ItemGroup>
  <ItemGroup>
    {{#include_files}}
    {{>ClInclude}}
    {{/include_files}}
  </ItemGroup>
  <ItemGroup>
    {{#source_files}}
    {{>ClCompile}}
    {{/source_files}}
    {{#unmanaged_source_files}}
    {{>CompileUnmanaged}}
    {{/unmanaged_source_files}}
    {{#precompiled_header}}
    {{>ClCompilePch}}
    {{/precompiled_header}}
  </ItemGroup>
  <ItemGroup>
  {{#resource_files}}
  {{>ResourceCompile}}
  {{/resource_files}}
  </ItemGroup>
  <ItemGroup>
  {{#image_files}}
  {{>Image}}
  {{/image_files}}
  </ItemGroup>
  <Import Project="$(VCTargetsPath)\Microsoft.Cpp.targets" />
  <ImportGroup Label="ExtensionTargets">
  </ImportGroup>
</Project>