<!-- Incremental Link capability, set up only for DynamicLibrary 
     and Application configuration_types.

     Static configuration_type does not have this block. -->
<PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|Win32'">
  <LinkIncremental>true</LinkIncremental>
</PropertyGroup>
<PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|x64'">
  <LinkIncremental>true</LinkIncremental>
</PropertyGroup>
<PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Release|Win32'">
  <LinkIncremental>false</LinkIncremental>
</PropertyGroup>
<PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Release|x64'">
  <LinkIncremental>false</LinkIncremental>
</PropertyGroup>
